* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  line-height: 1;
  display: flex;
  align-items: center;
  background-color: hsl(212, 45%, 89%);
  height: 100vh;
}

.container {
  max-width: 350px;
  margin: 0 auto;
}

.QR-card {
  padding: 12px;
  padding-bottom: 24px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 16px;
}

.QR-img {
  width: 100%;
  margin-bottom: 12px;
  border-radius: 8px;
}

.QR-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.QR-text {
  text-align: center;
  line-height: 1.3;
  width: 85%;
}

.QR--p1 {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  margin-bottom: 12px;
  font-size: 24px;
}

.QR--p2 {
  color: hsl(220, 15%, 55%);
  font-size: 18px;
}
